<div class="wrap-table">
  <table>
    <thead>
      <th class="text-center">STT</th>
      @for (column of colums; track $index) {
      <th
        [class]="column.headerClass"
        [style.minWidth]="column.width || 'auto'"
        [style.textAlign]="column.align || 'left'"
      >
        {{ column.headerName }}
      </th>
      }
    </thead>

    <tbody>
      @for (rowData of data; let index = $index; track rowData.id) {
      <tr>
        <td class="text-center">{{ index + 1 }}</td>
        @for (column of colums; track $index) {
        <td
          [class]="column.columnClass"
          [style.textAlign]="column.align || 'left'"
          [style.minWidth]="column.width || 'auto'"
        >
          {{ rowData[column.key] }}
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>

<div class="pagination">
  <mon-pagination />
</div>
