.wrap-table {
    overflow-x: auto;
    box-shadow: var(--box-shadown);
    background-color: transparent;
}

table,th, td {
    border-collapse: collapse;
}

table {
    width: 100%;
    max-width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

th, td {
    padding: 6px 14px;
}

thead {
    background-color: var(--second-color);
    color: #fff;
    font-weight: normal;
}

tr:nth-child(2n) {
    background-color: #ebebeb;
}

tr:hover {
    background-color: rgba(137, 180, 73, 0.6);
}