
<div class="wrap-table">
    <table>
        <thead>
            <th>STT</th>
            @for (colum of colums; track $index) {
                <th>{{ colum.headerName }}</th>
            }
        </thead>

        <tbody>
            @for (rowData of data; let index = $index; track rowData.id) {
                <td>{{ index + 1 }}</td>
                @for (column of colums; track $index) {
                    <td>{{ rowData[column.key] }}</td>
                }
            }
        </tbody>
    </table>
</div>