<div class="wrap-side-bar">
  <div class="flex justify-between h-[80px] px-6 items-center">
    <div class="logo">Mon</div>
    <mon-wrap-ionicon
      class="cursor-pointer"
      iconName="menu-outline"
      fontSize="28px"
    ></mon-wrap-ionicon>
  </div>

  @if (menus.length) {
    <div class="px-3">
        <ng-container
          *ngTemplateOutlet="renderMenu; context: { $implicit: menus, level: 1 }"
        ></ng-container>
    </div>
  }
</div>

<ng-template #renderMenu let-menu let-level="level">
  @for (item of menu; track $index) {
  <div class="mb-1">
    @if (item.children?.length) {
    <span class="menu-item" [routerLink]="item.url" (click)="item.openning = !item.openning">
      <mon-wrap-ionicon fontSize="20px" [iconName]="item.icon"></mon-wrap-ionicon>
      <span class="ml-2">{{ item.name }}</span>
    </span>

    <div class="wrap-child" [class]="{ openning: item.openning }" [style.paddingLeft.px]="level * 12">
      <ng-container
        *ngTemplateOutlet="renderMenu; context: { $implicit: item.children, level: level + 1 }"
      ></ng-container>
    </div>
    }

    @else {
    <span class="menu-item" [routerLink]="item.url" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <mon-wrap-ionicon fontSize="20px" [iconName]="item.icon"></mon-wrap-ionicon>
      <span class="ml-2">{{ item.name }}</span>
    </span>
    }
  </div>
  }
</ng-template>
